---
title: CS10 | Spring 2015
layout: default
---

<div class="header center coontainer-fluid">
      <div class="row row-centered" style="width:100%">
          <div class="col-md-3">
              <div class="vcenter">
                  <img width="250" border="0" align="bottom" height="244" src="resources/images/snap_nav.gif" class="navbar" alt="Your Navigation Bar didn't load." title="Click me to navigate." usemap="#gobo">
                  <div style="position:absolute;top:60px;left:220px;z-index:40;">
                      <img src="resources/images/blank.gif" name="speech" />
                  </div>
                  <map name="gobo">
                      <area shape="rect" coords="0,70,110,97" alt="Overview" href="#overview" onmouseover="displaySpeech('speech', 'resources/images/overview_jump.gif')" onmouseout="displaySpeech('speech', 'resources/images/blank.gif')">
                      <area shape="rect" coords="0,97,76,124" alt="News" href="#news" onmouseover="displaySpeech('speech', 'resources/images/news_jump.gif')" onmouseout="displaySpeech('speech', 'resources/images/blank.gif')">
                      <area shape="rect" coords="0,124,105,151" alt="Calendar" href="#calendar" onmouseover="displaySpeech('speech', 'resources/images/calendar_jump.gif')" onmouseout="displaySpeech('speech', 'resources/images/blank.gif')">
                      <area shape="rect" coords="0,151,72,178" alt="Staff" href="#staff" onmouseover="displaySpeech('speech', 'resources/images/staff_jump.gif')" onmouseout="displaySpeech('speech', 'resources/images/blank.gif')">
                      <area shape="rect" coords="0,178,97,205" alt="Grades" href="#grading" onmouseover="displaySpeech('speech', 'resources/images/grading_jump.gif')" onmouseout="displaySpeech('speech', 'resources/images/blank.gif')">
                      <area shape="rect" coords="0,205,117,232" alt="Resources" href="#resources" onmouseover="displaySpeech('speech', 'resources/images/resources_jump.gif')" onmouseout="displaySpeech('speech', 'resources/images/blank.gif')">
                  </map>
              </div>
          </div>
          <div class="col-md-6">
              <div class="col-centered vcenter">
                  <br><br><br>
                  <h2 class="logo">CS10</h2>
                  <h2 class="logo">The Beauty &amp; Joy of Computing</h2>
                  <h2 class="logo">Spring 2015</h2>
              </div>
          </div>
          <div class="col-md-3">
              <div class="vcenter right">
                  <br /><br />
                  <a href="http://bjc.berkeley.edu/">
                      <img border="0" src="resources/images/bjc186.png" alt="BJC logo">
                  </a>
              </div>
          </div>
    </div>
  </div>

  <h1 class="center" id="quicklinks">Quick Links</h1>
  <div class="container-fluid">
      <div class="row">
          <div class="ql col-md-2">
              <a class="snap" style="font:120%" href="http://snap.berkeley.edu/run/">Snap</a>
          </div>
          <div class="ql col-md-2">
              <a href="https://piazza.com/{{ site.piazzaURL }}">Piazza</a>
              <br />(Q&amp;A)
          </div>
          <div class="ql col-md-2">
              <a class="lablink" href="http://beautyjoy.github.io/bjc-r/course/{{ site.labsCourse }}">Labs</a>
          </div>
          <div class="ql col-md-2">
              <a href="https://bcourses.berkeley.edu/courses/{{ site.bCourses }}">bCourses</a>
              <br />(assignments)
          </div>
          <div class="ql col-md-2">
            <a href="http://webcast.berkeley.edu/playlist#c,s,Fall_2014,-XXv-cvA_iCajFbSJ4q3ApmKtT7RL3wQ">Webcasts</a>
          </div>
          <div class="ql col-md-2">
            <a href="assign.html?https://docs.google.com/document/d/1qb86D3sLcusFrx4Feu86Yhu9whw-M28feeUo3Zfaapc/pub">Course Policies</a>
          </div>
      </div>
  </div>
  <div class="clearfix"></div>

  <!-- <h1>News</h1>
  <div class="page-section" id="news">
      <h2>Please check this section for important updates!</h2>
      <ul class='lambda'>
          <li>August 18, 2014: Welcome to CS10!</li>
          <li>August 29, 2014: Course Syllabus added to the quick links section (right above).</li>
      </ul>
  </div> -->

  <h1>Overview</h1>
  <div class="page-section" id="overview">
    {% include_relative includes/overview.html %}
  </div>

  <!--
  <h1>Assignment Calendar</h1>
  <div class="page-secton" id="cal-bs"></div>
  <div class="clearfix"></div> -->

  <h1>Assignment Calendar</h1>
  <div class="page-section" id="calendar">
    {% include_relative includes/calendar.html %}
  </div>
  <div class="clearfix"></div>

  <h1>Weekly Schedule</h1>
  <div class="page-section" id="weekly">
      <h4>This calendar displays the class schedule for the <em>current</em> week.
        Click on any event to see the building location on a map.</h4>
      <div id="oh-cal" style="min-width:800px;"></div>
  </div>

  <h1>Staff</h1>
  <div class="page-section" id="staff">
    <h2>Instructor</h2>
    <div class="container-fluid" id="instructors"></div>
    <div class="clearfix"></div>

    <h2>Teaching Assistants</h2>
    <div class="container-fluid" id="tas"></div>
    <div class="clearfix"></div>

    <h2>Readers</h2>
    <div id="readers"></div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>

  <h1>Grading</h1>
  <div class="page-section" id="grading">
      {% include_relative includes/grading.html %}
  </div>

  <h1>Resources</h1>
  <div class="page-section" id="resources">
    <ul class="lambda">
        <li><a href="http://www.bitsbook.com/">Blown to Bits</a></li>
        <li><a href="http://www.debuggingrules.com/">Debugging Rules!</a></li>
        <li><a href="http://www.berkeley.edu">UC Berkeley</a></li>
        <li><a href="http://coe.berkeley.edu/">College of Engineering</a> </li>
        <li><a href="http://www.eecs.berkeley.edu/">EECS Department Page</a></li>
        <li><a href="../fa13/lab/solutions.html">(OLD) Solutions to Lab Exercises</a></li>
      </ul>
    </div>

<!--END PAGE CONTENT -->
<link href="assets/lib/fullcalendar/fullcalendar.min.css" rel="stylesheet"/>
<link href="assets/cs10style.css" rel="stylesheet"/>

<script src="assets/index-concat.js"></script>
<script>
// Review session dates, JS Dates: 0 == Jan!!
var quest   = daysUntil(new Date(2014, 9, 1)),
    midterm = daysUntil(new Date(2014, 9, 29)),
    final   = daysUntil(new Date(2014, 11, 16));

function daysUntil(from, to) {
  var MS_DAY = 1000*60*60*24;
  return Math.floor((from - (to || new Date())) / MS_DAY);
}

function inRange(num) { return num >= -7 && num < 1; }

$(document).ready(function() {
    // Show weekends when we are close to at least one review session.
    var wkends = inRange(quest) || inRange(midterm) || inRange(final);

    // Google API KEY:
    var gcalkey = 'AIzaSyBcbN6F79dPHiGMvftIKZB86A6Ki2eIKZs';
    $('#oh-cal').fullCalendar({
      allDaySlot: false,
      slotDuration: "1:00:00",
      slotEventOverlap: false,
      weekends: wkends,
      defaultView: 'agendaWeek',
      minTime: "09:00:00",
      maxTime: "20:00:00",
      contentHeight: "auto",
      eventSources: [
        {   googleCalendarId: 'berkeley.edu_7qpoo4ph13p55e4ukmnpvqusdk@group.calendar.google.com',
            cache: true,
            googleCalendarApiKey: gcalkey,
            className: 'lecture' },
        {   googleCalendarId: 'berkeley.edu_d358eocqj23pak3atie23vk35o@group.calendar.google.com',
            cache: true,
            googleCalendarApiKey: gcalkey,
            className: 'lab' },
        {   googleCalendarId: 'berkeley.edu_k2g60q1sehd2u0ujd257jqm7h0@group.calendar.google.com',
            cache: true,
            googleCalendarApiKey: gcalkey,
            className: 'oh' },
        {   googleCalendarId: 'berkeley.edu_1g3duo9lb53vu09orjictriud4@group.calendar.google.com',
            cache: true,
            googleCalendarApiKey: gcalkey,
            className: 'disc' }
      ]
    });
});
</script>