---
layout: default
title: Check Your Slip Days!
permalink: slipdays/index.html
---

{% include nav.html %}

{% include quicklinks.html %}

<script src="{{ site.baseurl }}/assets/directory-concat.js"></script>

<link href="{{ site.baseurl }}/assets/css/cs10style.css" rel="stylesheet"/>

<script>
    {% include_relative assets/cs10.js %}
</script>

<h1> Check Your Slip Day Usage </h1>

<div class="page-section">
  <br>
  <h2> Please enter your SID </h2>
  <form class="form-inline" id='sid-form'>
    <div class="form-group">
      <label class="sr-only" for="exampleInputAmount">Your SID</label>
      <div class="input-group">
        <input type="text" class="form-control" id="sidInput" placeholder="12345678">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Check my days!</button>
  </form>
  <br />
  <br />
  <div id="msg" class="alert hidden" role="alert">
  </div>
  <br />
  <div id="panel" class="panel panel-primary">
    <div class="panel-heading">
      Slip Day Results
    </div>
    <div class="table-responsive">
      <table border="0" id="results" class="table table-striped table-responsive">
        <thead>
          <tr>
            <th width="60%">Assignment Name</th>
            <th width="10%">Slip Days Used</th>
            <th width="10%">View Assignment</th>
            <th width="20%">Verified By Reader</th>
          </tr> 
        </thead>
        <tbody id="table-contents">
        </tbody>
      </table>
    </div>
  </div>
</div>


<!--
This makes a call to the slip day tracker
The API format is entirely custom but pretty simple. View it here:
https://github.com/cs10/Alonzo/blob/master/scripts/cs10-slipdays.js#L128-L175
 -->
<script type="text/javascript">
var buildTable = function(result, xhr, other) {
var table = $('#table-contents');
var msg   = $('#msg');
table.html(''); // clear the table
msg.removeClass('hidden');

if (result.errors) {
  msg.addClass('alert-danger');
  result.errors.forEach(function(error, idx) {
    if (!idx) {
      msg.append($('<strong>').html(error));
      msg.append($('<ul>'));
      msg = $('#msg>ul');
    } else {
      msg.append($('<li>').html(error));
    }
  });
  return;
}

// Add any warning messages
var days = result.totalDays;
if (days < 3) {
  $('#panel').addClass('panel-success');
  msg.addClass('alert-success');
  msg.html('Good work! You\'ve got some breathing room!');
} else if (days === 3) {
  $('#panel').addClass('panel-warning');
  msg.addClass('alert-warning');
  msg.html('You\'re at the limit of slip days! Be careful, or you\'ll lose points.');
} else {
  $('#panel').addClass('panel-danger');
  msg.addClass('alert-danger');
  msg.html('Uh-oh! We\'ll need to dock some points.');
}


result.assignments.forEach(function(item) {
    table.append($('<tr>').html($('<td>').html(item)));
  });
};

$(document).ready(function() {
  $('#sid-form').submit(function(evt) {
    var dom = 'alonzo.herokuapp.com';
    // Local hosts use a local Alonzo URL
    if (location.port === '4000') {
      dom = 'localhost:8080';
    }

    var sid = $('#sidInput').val();
    var url = 'http://' + dom + '/slipdays/' + sid;
    $.ajax({
      url: url,
      cache: false,
      crossDomain: true,
      success: buildTable,
      error: function(a, b, c) {
        var table = $('#table-contents');
        table.append($('<tr>').html($('<td>').html('Whoops, an error occured! Sorry!')));
      }
    });

    evt.preventDefault();
  });
});

</script>
