body {
    background-image: url(../resources/images/gobo_watermark.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    font-family: 'Helvetica'; /* override bootstrap */
    width: 95%;
    max-width: 2000px;
    margin: .5% 5%;
    padding: 0 .3em .3em .3em;
}
.logo {
  font-family: 'VAG Rounded Light';
  font-size: 2.25em;
  margin: .1em;
  text-align: center;
  vertical-align: middle;
}

.header {
    display: inline-block;
    width: 100%;
}
.header, .header > div {
    display: inline-block;
    vertical-align: middle;
}

.left {
    width: 250px;
}
.header > .center {
    min-width: 50px;
    width: 60%;
    max-width: 100%;
}
.right {
    text-align: right;
    min-width: 100px;
    width: 17%;
    max-width: 250px;
}
/*
display table-cell auto width
Specifiy:
min-width -- presentation / readbility
width -- size, set smaller than 1/(num items)
max-width -- set >= 1/(num items) */
.ql {
    font-size: 1.1em;
    text-align: center;
    display: table-cell;
}
h1 {
    display: block;
    padding: .3em 1em;
    font-family: 'VAG Rounded Light';
    font-size: 1.6em;
    vertical-align: middle;
}
.vcenter {
    display: table-cell;
    vertical-align: middle;
}
    /* centered columns styles */
    .row-centered {
        text-align:center;
    }
    .col-centered {
        display:inline-block;
        float:none;
        /* reset the text-align */
        text-align:center;
        /* inline-block space fix */
        margin-right:-4px;
    }
